body {
    background-color: red;
    background-image: linear-gradient(to right, red, orange, yellow, green, indigo, violet);
}
div > img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

div { 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap: 0.3vi;
}