body {
    margin: 0;
}

img {
    height: 40vh;
    width: 40vw;
    max-width: 100%;
    display: block;
    margin: auto;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
}
