/* 
.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#video-65e719316ba24 {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Este valor mantiene la proporción 16:9 para videos 
}

#video-65e719316ba24 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
} */

body { 
    background: black;
    margin: 0;
    padding: 0;
}
#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#iframeid2 {
    grid-area: 1 / 2 / span 2 / span 1;
}

#iframeid3 {
    grid-area: 2 / 1 / span 1 / span 1;
}

#iframeid4 {
    grid-area: 3 / 1 / span 2 / span 2;
}

#iframeid6 {
    grid-area: 4 / 2 / span 4 / span 1;
}

#iframeid5 {
    grid-area: 4 / 1 / span 1 / span 1;
}

iframe {
    height: 100%;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}