body { 
    background: black;
    margin: 0;
    padding: 0;
    
}
#grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    width: 99vw;
    height: auto;
    
}

body > img {
    border-radius: 6vi;
    width: 90vw;
    display: flex;
    justify-self: center;
    align-self: center;
}

iframe {
    border-radius: 10vi;
}

.lateralIzquierda {
    width: 40vw;
    height: 30vh;
    border-radius: 6vi;
    display: flex;
    justify-self: center;
    align-self: center;
}

#iframeid2 {

    grid-area: 1 / 2 / span 2 / span 1;
    height: 80vh;
    width: 45vw;
}

#iframeid3 {
    grid-area: 2 / 1 / span 1 / span 1;
}

#iframeid4 {
    grid-area: 3 / 1 / span 2 / span 2;
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-self: center;
    align-self: center;
}

#iframeid5 {
    grid-area: 5 / 1 / span 1 / span 1;
}

#iframeid6 {
    grid-area: 5 / 2 / span 2 / span 1;
    height: 80vh;
    width: 45vw;
}

#iframeid7 {
    grid-area: 6 / 1 / span 1 / span 1;
}


iframe {
    height: 100%;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}